.TimelineContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    overflow: auto;
}

.Timeline {
    color: var(--light-gray);
    min-width: 10rem;
}

.Timeline__contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Timeline__subHeader { 
    color: var(--light-gray);
}

.Timeline__header { 
    color: var(--spot-green);
}

.Timeline__desc { 
    color: var(--light-gray);
    font-size: 1rem;
    max-width: 20rem;
}
