.TimelineContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    overflow: auto;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.Timeline {
    color: var(--light-gray);
    min-width: 10rem;
}

.Timeline__contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Timeline__subHeader { 
    color: var(--light-gray);
}

.Timeline__header {
    display: flex;
    gap: .25rem;
    transition: .3s;
}

.Timeline__header > a { 
    color: var(--spot-green);
    text-decoration: none;
    cursor: pointer;
}

.Timeline__desc { 
    color: var(--light-gray);
    font-size: 1rem;
}