.ScrollView {
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ScrollView__desc {
    color: var(--light-gray);
    margin-bottom: 9rem;
}

.ScrollView__timeline {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 9rem;
}

.ScrollView__projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 9rem;
}