.ProjectContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    overflow: auto;

    @media (max-width: 1024px) {
        justify-content: space-evenly;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.Project {
    color: var(--light-gray);
    min-width: 10rem;
}

.Project__contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Project__subHeader { 
    color: var(--light-gray);
}

.Project__header {
    display: flex;
    gap: .25rem;
    transition: .3s;
}

.Project__header > a { 
    color: var(--spot-green);
    text-decoration: none;
    cursor: pointer;
}

.Project__desc { 
    color: var(--light-gray);
    font-size: 1rem;
}