:root {
  --gray-black: #212121;
  --spot-green: #1DB954;
  --black: #121212;
  --dark-gray: #535353;
  --light-gray: #b3b3b3;
}

body { 
  background-color: var(--black);
}

.PageContainer {
  margin-left: 6rem;
  margin-right: 6rem;
}

.PageContent { 
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}