.NavLinks {
    margin-top: 4rem;
    list-style: none;
    padding: 0;

    @media (max-width: 1024px) {
        display: none;
    }
}

.NavLinks--link {
    display: flex;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    cursor: pointer;
}

.NavLinks--linkBar {
    width: 2rem;
    height: 1px;
    background-color: var(--light-gray);
    margin-right: 1rem;
    transition: 0.3s;
}

.NavLinks--linkText {
    color: var(--light-gray);
    transition: 0.3s;
}

.NavLinks--link:hover .NavLinks--linkBar {
    width: 4rem;
    background-color: white;
}

.NavLinks--link:hover .NavLinks--linkText {
    color: white;
}

.NavLinks--activeLink {
    color: white;
}

.NavLinks--activeBar {
    width: 4rem;
    background-color: white;
}

