.AboutUs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 50%;
    position: sticky;
    top: 0;

    @media (max-width: 1024px) {
        padding-top: 15vh;
        height: 100%;
        position: unset;
        width: unset;
    }
}

.AboutUs--content {
    display: flex;
    flex-direction: column;
}